.HomeContainer {
	height: 500px;
	width: 800px;
}

@media only screen and (max-width: 600px) {
	.HomeContainer {
		height: 200px;
		width: 300px;
	}
}
  
.HomeContainer svg {
	/* This prevents the X axis labels from being cut off on the right */
	overflow: unset !important;
}